body {
  margin: 0;
  background-color: #ebfeff;
}
.portfolio{
  max-width: 1500px;
  margin: auto;
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.1));
}
.head {
  background-color: #ebfeff;
  font-family: "Sora";
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 170px;
  font-size: 20px;
  font-style: normal;
  gap: 200px;
}
.ft {
  width: 250px;
}
.ft1 {
  width: 400px;
}
div.text h1{
  font-size: 18px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  font-size: 20px;
  font-style: normal;
  background-color: white;
  gap: 100px;
}

.button-for-download {
  margin: 20px;
  width: 190px;
  height: 60px;
  font-family: "serif";
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.button-for-download:hover {
  background-color: #457b9d;
  box-shadow: 0px 15px 15px rgba(33, 127, 182, 0.5);
  color: #fff;
  transform: translateY(-7px);
}
.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  
}

h1 {
  font-family: "Sora";
  font-style: bold;
  font-size: 25px;
}
h2 {
  color: #457b9d;
  font-size: 22px;
  margin-bottom: 0px;
}
footer {
  display: flex;
  flex-direction: column;
  padding:50px ;
  background-color: #ebfeff;
  
}
.greetings {
  color: #457b9d;
  font-family: "Sora";
  font-size: 20px;
}
.welcome-text {
  font-family: "Sora";
  font-size: 15px;
  font-style: regular;
}

.text-about-me {
  font-family: "Sora";
  font-size: 15px;
  font-style: regular;
}


