body {
  margin: 0;
  background-color: #ebfeff;
}
.wraper{
  max-width: 1500px;
  margin: auto;
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.1));
}
.wraper-head {
  background-color: #ebfeff;
  font-family: "Sora";
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 170px;
  font-size: 20px;
  font-style: normal;
  gap: 200px;
}
.ft {
  width: 250px;
}
.ft1 {
  width: 400px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  font-size: 20px;
  font-style: normal;
  background-color: white;
  gap: 100px;
}

.button-for-download {
  margin: 20px;
  width: 190px;
  height: 60px;
  font-family: "serif";
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.button-for-download:hover {
  background-color: #457b9d;
  box-shadow: 0px 15px 15px rgba(33, 127, 182, 0.5);
  color: #fff;
  transform: translateY(-7px);
}
.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 100px;
  padding: 50px 0px;
}
.skills h1{
  text-align: center;
}
h1 {
  font-family: "Sora";
  font-style: bold;
  font-size: 25px;
}
h2 {
  color: #457b9d;
  font-size: 22px;
}
footer {
  display: flex;
  flex-direction: column;
  padding:100px ;
  background-color: #ebfeff;
}
.greetings {
  color: #457b9d;
  font-family: "Sora";
  font-size: 20px;
}
.welcome-text {
  font-family: "Sora";
  font-size: 15px;
  font-style: regular;
}

.text-about-me {
  font-family: "Sora";
  font-size: 15px;
  font-style: regular;
}
/* For tablets and smaller screens (up to 900px wide) */
@media only screen and (max-width: 1000px) {
  .header {
    flex-direction: column-reverse;
    padding: 100px;
    gap: 30px;
  }
  .about {
    flex-direction: column;
    gap: 50px;
  }
  .button {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .skills-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
  }
  .ft2 {
    max-width: 100%; /* Reduce width on smaller screens to avoid overflow */
}
}

/* For mobile phones (up to 600px wide) */
@media only screen and (max-width: 600px) {
  .about {
    gap: 30px;
  }
  .skills-icons  {
    gap: 10px;
  }
  .button{
    flex-direction: column;
  }
  .text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

}