.icon-bar {
    position: fixed;
    top: 50%;
    right: 0; /* Position the bar on the right side */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;

}
    .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}
.facebook {
    background: #3b5998;
    color: white;
}


.email{
    background: #4534aa;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: #333;
    color: white;
}

.whatsup {
    background: #00cc00;
    color: white;
}

.telegram {
    background: #0088cc;
    color: white;
}